---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Golden Frame" description='Golden Frame "กรอบทอง" Generator'>
  <main>
    <h1 class="text-3xl">Hello Asstro</h1>
  </main>
</Layout>
