---
import Layout from "../layouts/Layout.astro";

import GoldenFrame from "../components/GoldenFrame.svelte";
---

<Layout title="Golden Frame" description='Golden Frame "กรอบทอง" Generator'>
  <main class="flex flex-col items-center gap-4 py-8">
    <h1 class="text-3xl font-bold">🖼️ Golden Frame</h1>

    <GoldenFrame client:load />

    <p class="text-center">
      This Quality Website Source Code is available at
      <a href="https://github.com/leomotors/golden-frame-web">
        https://github.com/leomotors/golden-frame-web
      </a>
    </p>
    <p class="text-center">
      Contribution welcome, help me make this website look better
    </p>
  </main>
</Layout>
